{% extends 'stores/base.html' %}

{% block title %}使用者-收藏 | {{ block.super }}{% endblock title %}

{% block nav5 %}
    <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <strong>使用者</strong>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'mine' %}">       資訊</a>
            <a class="dropdown-item" href="{% url 'collection' %}"> 收藏</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'setting' %}">
                <img src="/static/images/icon/settings.svg" width="20" height="20" class="d-inline-block align-top" alt="settings">
                設置
            </a>
        </div>
    </li>
{% endblock nav5 %}


{% block main %}
{{ block.super }}
<div class="introduce-bg2 introduce-mid">
    <h1><span class="badge badge-secondary">使用者-收藏</span></h1>
    <h4>我有{{ allusers|length }}位收藏</h4>

    <div class="container">
        
        <div class="row">
        {% for user in allusers %}
        <div class="col-4 mb-4">
            <div class="card border-info" style="width: 20vw;">
                <div class="card-body">
                    <h3 class="card-title"><b>{{ user.name }}</b></h3>
                    <div class="text-center">
                        <img class="card-img" src='/media/{{user.picture}}' width="80" alt="user_pictures"/>
                        <p>{{ user.residential_location }}</p>
                    </div>
                </div>
                <div class="card-footer text-center" style="cursor: pointer;" data-toggle="modal" data-target="#userModal" data-whatever="{{ user.account }}">
                    <button class="btn btn-link" style="cursor: pointer;">
                        <h5>查看</h5>
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>

    </div>
</div>

<!--互動視窗 個人資訊-->
{% include 'stores/user_modal.html' %}

{% endblock main %}



{% block script %}
{{ block.super }}
<script type="text/javascript">
    var allusers = {{allusers2|safe}};
    var alldogs = {{alldogs2|safe}};
    var collection_users = {{collection_users|safe}};

    $('#userModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)     // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        var modal = $(this)
        var clickUser = allusers.find(function(item, index, array){
            return item.account == recipient;
        });

        var clickDog = alldogs.find(function(item, index, array){
            return item.master_id == clickUser.id;
        });

        if (collection_users.indexOf(clickUser.account) == -1){
            modal.find('#html_collection_text').text("加入收藏")
            document.getElementById('html_collection_img').src = "/static/images/icon/star0.png";
        }
        else{
            modal.find('#html_collection_text').text("取消收藏")
            document.getElementById('html_collection_img').src = "/static/images/icon/star1.png";
        }

        modal.find('#html_name').text(clickUser.name)
        document.getElementById('html_name1').value = clickUser.account;
        //$("#html_picture").attr("src","/media/" + clickUser.picture); 
        document.getElementById('html_picture').src = "/media/" + clickUser.picture;
        modal.find('#html_gender').text(clickUser.gender)
        modal.find('#html_phone_number').text(clickUser.phone_number)
        modal.find('#html_residential_location').text(clickUser.residential_location)
        modal.find('#html_residential_location1').text(clickUser.residential_location)
        modal.find('#html_housing_condition').text(clickUser.housing_condition)
        modal.find('#html_equipment').text(clickUser.equipment)
        modal.find('#html_score').text(clickUser.score)
        modal.find('#html_evaluation').text(clickUser.evaluation)
        modal.find('#html_introduce').text(clickUser.introduce)
        document.getElementById('html_reservation').href = "/reservation/" + clickUser.account;
        document.getElementById('html_message').href = "/message_user/" + clickUser.account;

        if (clickDog){
            modal.find('#html_dbreed').text(clickDog.breed)
            document.getElementById('html_dpicture').src = "/media/" + clickDog.picture;
            modal.find('#html_dcharacter').text(clickDog.character)
            modal.find('#html_dage').text(clickDog.age + " 歲")
            modal.find('#html_dfavorite_food').text(clickDog.favorite_food)

        }
        else{
            modal.find('#html_dbreed').text("沒養狗")
            document.getElementById('html_dpicture').src = "";
            modal.find('#html_dcharacter').text("沒養狗")
            modal.find('#html_dage').text("沒養狗")
            modal.find('#html_dfavorite_food').text("沒養狗")
        }
    })
</script>
{% endblock script %}
