{% extends 'stores/base.html' %}

{% block title %}寄養 | {{ block.super }}{% endblock title %}

{% block head %}
{{ block.super }}
    <!--link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css">
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script-->
{% endblock head %}

{% block nav3 %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'foster' %}"><strong>寄養</strong></a>
    </li>
{% endblock nav3 %}


{% block main %}
{{ block.super }}
<div class="introduce-bg2 introduce-mid">
    <h1><span class="badge badge-secondary">寄養</span></h1>

    <h3 class="bg-gradient-info">用戶列表</h3>
    <p>點擊可查看詳細資訊</p>
    
    <input type="search" class="form-control light-table-filter mb-2" data-table="order-table" 
         data-placement="bottom" placeholder="請輸入關鍵字過濾...">

    <table class="table table-bordered table-hover order-table">
        <thead style="background-color:#d8d8d8;">
            <tr>
            <th>照片</th>
            <th>姓名</th>
            <th>性別</th>
            <!--th>電話</th-->
            <th>住區</th>
            <!--th>住家環境</th-->
            <!--th>設施</th-->
            <th>評分</th>
            <th>評價</th>
            <!--th>加入日期</th-->
            </tr>
        </thead>
        <tbody>
            {% for user in alluser %}
            <tr style="cursor: pointer;" data-toggle="modal" data-target="#userModal" data-whatever="{{ user.account }}">
                <td> <img src='/media/{{ user.picture }}' width="80" alt="user_pictures"/> </td>
                <td> {{ user.name }} </td>
                <td> {{ user.gender }} </td>
                <!--td> {{ user.phone_number }} </td-->
                <td> {{ user.residential_location }} </td>
                <!--td> {{ user.housing_condition }} </td-->
                <!--td> {{ user.equipment }} </td-->
                <td> {{ user.score }} </td>
                <td> {{ user.evaluation }} </td>
            </tr>
            {% endfor %} 
        </tbody>
    </table>
</div>

<!--互動視窗 個人資訊-->
{% include 'stores/user_modal.html' %}

{% endblock main %}


{% block script %}
{{ block.super }}
<script type="text/javascript">
    var allusers = {{allusers|safe}};
    var alldogs = {{alldogs|safe}};
    var collection_users = {{collection_users|safe}};

    $('#userModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)     // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        var modal = $(this)
        var clickUser = allusers.find(function(item, index, array){
            return item.account == recipient;
        });

        var clickDog = alldogs.find(function(item, index, array){
            return item.master_id == clickUser.id;
        });
        
        if (collection_users.indexOf(clickUser.account) == -1){
            modal.find('#html_collection_text').text("加入收藏")
            document.getElementById('html_collection_img').src = "/static/images/icon/star0.png";
        }
        else{
            modal.find('#html_collection_text').text("取消收藏")
            document.getElementById('html_collection_img').src = "/static/images/icon/star1.png";
        }
        
        modal.find('#html_name').text(clickUser.name)
        document.getElementById('html_name1').value = clickUser.account;
        //$("#html_picture").attr("src","/media/" + clickUser.picture); 
        document.getElementById('html_picture').src = "/media/" + clickUser.picture;
        modal.find('#html_gender').text(clickUser.gender)
        modal.find('#html_phone_number').text(clickUser.phone_number)
        modal.find('#html_residential_location').text(clickUser.residential_location)
        modal.find('#html_residential_location1').text(clickUser.residential_location)
        modal.find('#html_housing_condition').text(clickUser.housing_condition)
        modal.find('#html_equipment').text(clickUser.equipment)
        modal.find('#html_score').text(clickUser.score)
        modal.find('#html_evaluation').text(clickUser.evaluation)
        modal.find('#html_introduce').text(clickUser.introduce)
        document.getElementById('html_reservation').href = "/reservation/" + clickUser.account;
        document.getElementById('html_message').href = "/message_user/" + clickUser.account;
        
        if (clickDog){
            modal.find('#html_dbreed').text(clickDog.breed)
            document.getElementById('html_dpicture').src = "/media/" + clickDog.picture;
            modal.find('#html_dcharacter').text(clickDog.character)
            modal.find('#html_dage').text(clickDog.age + " 歲")
            modal.find('#html_dfavorite_food').text(clickDog.favorite_food)

        }
        else{
            modal.find('#html_dbreed').text("沒養狗")
            document.getElementById('html_dpicture').src = "";
            modal.find('#html_dcharacter').text("沒養狗")
            modal.find('#html_dage').text("沒養狗")
            modal.find('#html_dfavorite_food').text("沒養狗")
        }
    })
</script>

<script type="text/javascript">
    (function(document) {
        'use strict';
      
        // 建立 LightTableFilter
        var LightTableFilter = (function(Arr) {
            var _input;
      
            // 資料輸入事件處理函數
            function _onInputEvent(e) {
                _input = e.target;
                var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
                Arr.forEach.call(tables, function(table) {
                    Arr.forEach.call(table.tBodies, function(tbody) {
                        Arr.forEach.call(tbody.rows, _filter);
                    });
                });
            }
        
            // 資料篩選函數，顯示包含關鍵字的列，其餘隱藏
            function _filter(row) {
                var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
                row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
            }
      
            return {
                // 初始化函數
                init: function() {
                    var inputs = document.getElementsByClassName('light-table-filter');
                    Arr.forEach.call(inputs, function(input) {
                        input.oninput = _onInputEvent;
                    });
                }
            };
        })(Array.prototype);
      
        // 網頁載入完成後，啟動 LightTableFilter
        document.addEventListener('readystatechange', function() {
            if (document.readyState === 'complete') {
                LightTableFilter.init();
            }
        });
      
    })(document);
</script>

{% endblock script %}
