<!DOCTYPE html>
<html>
    <head>
        <title> GetGPS </title>
    </head>
    <body>
        <form action="" method="get">
            <label for="dog_name">狗名</label>
            <input id="dog_name" name="dog_name" type="text">
            <label for="latitude">緯度</label>
            <input id="latitude" name="latitude" type="text">
            <label for="longitude">經度</label>
            <input id="longitude" name="longitude" type="text">
            <input id="ok" type="hidden" name="ok" value="ok">
            <input type="submit" value="測試">
        </form>
    </body>
</html>
