{% extends 'stores/base.html' %}

{% block title %}消息 | {{ block.super }}{% endblock title %}


{% block nav4 %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'message' %}"><strong>消息</strong></a>
    </li>
{% endblock nav4 %}


{% block main %}
{{ block.super }}
<div class="introduce-bg2 introduce-mid">
    <h1><span class="badge badge-secondary">消息-</span></h1>
    <!--h4><I>做不太出來...</I>😭😭😭</h4>
    <img src="/static/images/dog02.jpg" width="400" alt="dog02.jpg"-->
    <p><i>固定對話，演示用</i></p>
    <div class="container">
        {% for message in messages_val %}
            <div class="mb-2">
                {% if message.account == account %}
                    <div class="row justify-content-end">
                        <div class="col-">
                            ：{{message.name}}
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col- rounded text-right p-1" style="background-color:#d8d8d8;">
                            {{message.text}}
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <small class="col- text-muted text-right">
                            {{message.messages_time}}
                        </small>
                    </div>
                    
                {% else %}
                    <div class="row justify-content-start">
                        <div class="col-">
                            {{message.name}}：
                        </div>
                    </div>
                    <div class="row justify-content-start">
                        <div class="col- rounded text-right p-1" style="background-color:#d8d8d8;">
                            {{message.text}}
                        </div>
                    </div>
                    <div class="row justify-content-start">
                        <small class="col- text-muted text-right">
                            {{message.messages_time}}
                        </small>
                    </div>
                {% endif %}

            </div>
        {% endfor %}
    </div>

    <form action="" method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input type="text" name="message_text" id="message_text" class="form-control" placeholder="請輸入訊息..." required="" autofocus="">   
            <div class="input-group-append ml-3">
                <button class="btn btn-primary px-4" type="submit">發送</button>
            </div>
        </div>
    </form>

</div>

{% endblock main %}



{% block script %}
<script type="text/javascript">
    var messages = {{messages_js|safe}};
    
    console.log(messages);
    
    
</script>
{% endblock script %}
