{% extends 'stores/base.html' %}

{% block title %}消息 | {{ block.super }}{% endblock title %}


{% block nav4 %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'message' %}"><strong>消息</strong></a>
    </li>
{% endblock nav4 %}


{% block main %}
{{ block.super }}
<div class="introduce-bg2 introduce-mid">
    <h1><span class="badge badge-secondary">消息</span></h1>
    <!--h4><I>做不太出來...</I>😭😭😭</h4>
    <img src="/static/images/dog02.jpg" width="400" alt="dog02.jpg"-->

    <div class="container">
        
        <table class="table table-bordered table-hover">
            {% for thisuser in chat_users %}
            <tr style="cursor: pointer;">
                <td>
                    <div class="row align-items-center" onclick="location.href='/message_user/{{thisuser.account}}'">
                        <div class="col-1">
                            <img src='/media/{{ thisuser.picture }}' width="100%" alt="user_pictures" class="rounded-circle"/>
                        </div>
                        <div class="col">
                            <div class="row">
                                <b>{{thisuser.name}}</b>
                            </div>
                            <div class="row">
                                {{message.text}}
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>


    <!--{% for thisuser in chat_users %}
        <div>
            <div class="row align-items-center" onclick="location.href='/message_user/{{thisuser.account}}'">
                <div class="col-1">
                    <img src='/media/{{ thisuser.picture }}' width="100%" alt="user_pictures" class="rounded-circle"/>
                </div>
                <div class="col">
                    <div class="row">
                        <b>{{thisuser.name}}</b>
                    </div>
                    <div class="row">
                        {{message.text}}
                    </div>
                </div>
            </div>
        </div>
        <hr>

    {% endfor %}-->
    </div>

</div>

{% endblock main %}


{% block script %}

{% endblock script %}
