{% extends 'stores/base.html' %}

{% block title %}使用者-設置 | {{ block.super }}{% endblock title %}

{% block nav5 %}
    <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <strong>使用者</strong>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'mine' %}">       資訊</a>
            <a class="dropdown-item" href="{% url 'collection' %}"> 收藏</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'setting' %}">
                <img src="/static/images/icon/settings.svg" width="20" height="20" class="d-inline-block align-top" alt="settings">
                設置
            </a>
        </div>
    </li>
{% endblock nav5 %}


{% block main %}
{{ block.super }}
<div class="introduce-bg2 introduce-mid">
    <h1><span class="badge badge-secondary">使用者-設置</span></h1>
    
    <table class="table table-hover">
        <tbody>
            <tr>
                <td style="cursor: pointer;" onclick="location.href='/mine/'">
                    <div class="row align-items-end">
                        <div class="col-2">
                            <img src='/media/{{ myuser.picture }}' width="80%" alt="user_pictures"/>
                        </div>
                        <div class="col">
                            <div class="row">
                                <b>{{ myuser.name }}</b>
                            </div>
                            <div class="row">
                                <p>查看個人資訊</p>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="cursor: pointer;" onclick="location.href='/message/'">
                    <img src='/static/images/icon/chat.svg' width="10%" alt="contract"/>
                    <span class="pl-2">寄養訊息</span>
                </td>
            </tr>
            <tr>
                <td style="cursor: pointer;" data-toggle="modal" data-target="#deviceModal">
                    <img src='/static/images/icon/console.svg' width="10%" alt="console"/>
                    <span class="pl-2">設備訊息</span>
                </td>
            </tr>
            <tr>
                <td style="cursor: pointer;" data-toggle="modal" data-target="#emailModal">
                    <img src='/static/images/icon/idea.svg' width="10%" alt="chat"/>
                    <span class="pl-2">提供意見</span>
                </td>
            </tr>
            <tr>
                <td style="cursor: pointer;" data-toggle="modal" data-target="#donationModal">
                    <img src='/static/images/icon/donation.svg' width="10%" alt="donation"/>
                    <span class="pl-2">贊助我們</span>
                </td>
            </tr>
        </tbody>
    </table>


    <!--互動視窗 設備訊息-->
    <div class="modal fade" id="deviceModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">設備訊息</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>裝置key碼：{{ key.key }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <!--互動視窗 提供意見-->
    <div class="modal fade" id="emailModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">提供意見</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" action="https://formspree.io/a919233@yahoo.com.tw">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="email" name="email" id="email" class="form-control" placeholder="你的E-mail">
                    </div>
                    <div class="form-group">
                        <label for="message">建議或反饋</label>
                        <textarea class="form-control" id="message" name="message" placeholder="意見或反饋..." rows="5"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">寄出</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                </div>
                </form>
            </div>
        </div>
    </div>

    <!--互動視窗 提供意見-->
    <div class="modal fade" id="donationModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">贊助我們</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p><b>匯款資訊</b></p>
                    <p class="pl-3">銀 行： 700 中華郵政</p>
                    <p class="pl-3">帳 號： 0123456-0123456</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    

</div>

{% endblock main %}


{% block script %}
{{ block.super }}
<script type="text/javascript">

</script>
{% endblock script %}
