{% load staticfiles %}
<!DOCTYPE html>

<html>
    <head>
        <title>填寫基本資料</title>
        <meta charset='utf-8'>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    </head>

<body>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <table>
            <tr>
                <th> <label for="id_picture">照片:</label> </th>
                <td> <input type="file" name="picture" id="picture"> </td>
                <td> {{ f.picture.errors }} </td>
            </tr>
            
            <tr>
                <th> <label for="id_name">姓名:</label> </th>
                <td> {{ f.name  }} </td>
                <td> {{ f.name.errors }} </td>
            </tr>
            <tr>
                <th> <label for="id_gender">性別:</label> </th>
                <td> {{ f.gender }} </td>
                <td> {{ f.gender.errors }} </td>
            </tr>
            <tr>
                <th> <label for="id_phone_number">電話:</label> </th>
                <td> {{ f.phone_number }} </td>
                <td> {{ f.phone_number.errors }} </td>
            </tr>
            <tr>
                <th> <label for="id_residential_location">地區:</label> </th>
                <td> {{ f.residential_location }} </td>
                <td> {{ f.residential_location.errors }} </td>
            </tr>
            <tr>
                <th> <label for="id_housing_condition">住宅狀況:</label> </th>
                <td> {{ f.housing_condition }} </td>
                <td> {{ f.housing_condition.errors }} </td>
            </tr>
            <tr>
                <th> <label for="id_equipment">可提供設施:</label> </th>
                <td> {{ f.equipment }} </td>
                <td> {{ f.equipment.errors }} </td>
            </tr>
        </table>
        
        <input type="hidden" name="ok" value="yes">
        <input class="btn btn-default" type="submit" value="送出">
    </form>

</body>

</html>
